@model DoViewModel
 

<div class="container-fluid container">
    <h3>Add A New Meeting</h3>
    <h3 class="alert-danger">@ViewBag.Result</h3>
    <form asp-controller="Online" method="post" role="form">
        <table>
            <tr>
                <td>Day</td>
                <td>Time</td>
                <td>District</td>
                <td>Group Name</td>
                <td>Meeting ID</td>
                <td>Password</td>
                <td>Telephone</td>
                <td>Type / Notes</td>
                <td>Create</td>
            </tr>
            <tr>

                <td>
                    <select asp-for="DOWSelect" class="form-control" asp-items="@(new SelectList(@Model.DOWModel, "Value", "Text"));">
                        <option value="-">-</option>
                    </select>
                </td>
                <td>
                    <select asp-for="TimeSelect" class="form-control" asp-items="@(new SelectList(@Model.TimeModel, "Value", "Text"))">
                        <option value="0">-</option>
                    </select>
                </td>
                <td>
                    <select asp-for="DistrictSelect" class="form-control" asp-items="@(new SelectList(@Model.DistrictModel, "Value", "Text"))">
                        <option value="-1">-</option>
                    </select>
                </td>
                <td>
                    <input asp-for="groupnameSelect" class="form-control" />
                </td>
                <td>
                    <input asp-for="meetingidSelect" class="form-control " />
                </td>
                <td>
                    <input asp-for="pswdSelect" asp-format="{###-###}" class="form-control" />
                </td>
                <td>
                    <input asp-for="telephoneSelect" asp-format="{(###)-###-####}" class="form-control" />
                </td>
                <td>
                    <input asp-for="notesSelect" class="form-control" />
                </td>
                <td>
                    <div class="text-center panel-body">
                        <button type="submit" class="btn btn-sm btn-primary">Create</button>
                    </div>
                </td>
            </tr>
        </table>
        <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
        <hr />
        <h3>@ViewBag.Result</h3>
    </form>
</div> 