@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DEIG -- Creat4 New Meeting</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h1>Create A New Meeting</h1>
        <h2 class="alert-danger">@ViewBag.Result</h2>        
        <form asp-controller="Home" method="post" role="form">
            <table>
                <tr>
                    <td>Suspended</td>
                    <td>Day</td>
                    <td>Time</td>
                    <td>Town</td>
                    <td>Group Name</td>
                    <td>Information</td>
                    <td>Location</td>
                    <td>Type</td>
                    <td>Create</td>
                </tr>
                <tr>
                    <td>
                        <select asp-for="SuspendSelect" asp-items="@Model.Suspended">
                            <option value="0">False</option>
                        </select>
                    </td>
                    <td>
                        <select asp-for="DOWSelect" class="form-control" asp-items="@(new SelectList(@Model.DOWModel, "Value", "Text"));">
                            <option value="-">Select day</option>
                        </select>
                    </td>
                    <td>
                        <select asp-for="TimeSelect" class="form-control" asp-items="@(new SelectList(@Model.TimeModel, "Value", "Text"))">
                            <option value="0">Select Time</option>
                        </select>
                    </td>
                    <td>
                        <select asp-for="TownSelect" class="form-control" asp-items="@(new SelectList(@Model.TownModel, "Value", "Text"))">
                            <option value="-">Select Town</option>
                        </select>
                    </td>
                    <td>
                        <input asp-for="GroupNameSelect" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="InformationSelect" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="LocationSelect" class="form-control" />
                    </td>
                    <td>
                        <input asp-for="TypeSelect" class="form-control" />
                    </td>
                    <td>
                        <div class="text-center panel-body">
                            <button type="submit" class="btn btn-sm btn-primary">Create</button>
                        </div>
                    </td>
                </tr>
            </table>
            <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
            <hr />
            <h2>@ViewBag.Result</h2>
        </form>
    </div>
</body>
</html>

